{% extends "index.html" %}
{% block content %}

<!-- Hero -->
<section class="hero is-primary is-bold is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title has-text-weight-light is-1">
                        Volunteer Matching
                    </h1>
                    <h2 class="subtitle">
                        By: Joseph Jiang
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quae, nobis, voluptates ullam magnam eius quasi vitae voluptatum esse delectus inventore iste odit obcaecati. Quos eius molestiae repudiandae dicta obcaecati?
                    </h2>
                </div>
                <div class="column">
                    <img max-height="400px" src="../static/images/paper.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-multiline is-centered">
            <div class="column is-one-third">
                <div class="notification is-warning">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi adipisci porro officia incidunt repudiandae labore nam architecto error fugit doloremque facilis quia voluptate illum repellendus quaerat tempore, sit tenetur suscipit.
                </div>
            </div>
            <div class="column is-one-third">
                <div class="notification is-dark">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quam reiciendis fugit repellat, ab voluptatem corporis culpa amet? Architecto nisi porro adipisci quis amet nesciunt laudantium sit nam nihil eveniet?
                </div>
            </div>
            <div class="column is-one-third">
                <div class="notification is-primary">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, eveniet, ipsum modi doloribus exercitationem sequi tenetur enim similique facere unde eligendi quod inventore in? Vero repellat possimus quasi excepturi est!
                </div>
            </div>
            <div class="column is-one-third">
                <div class="notification is-warning">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi adipisci porro officia incidunt repudiandae
                    labore nam architecto error fugit doloremque facilis quia voluptate illum repellendus quaerat tempore, sit
                    tenetur suscipit.
                </div>
            </div>
            <div class="column is-one-third">
                <div class="notification is-dark">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quam reiciendis fugit repellat, ab voluptatem
                    corporis culpa amet? Architecto nisi porro adipisci quis amet nesciunt laudantium sit nam nihil eveniet?
                </div>
            </div>
            <div class="column is-one-third">
                <div class="notification is-primary">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, eveniet, ipsum modi doloribus
                    exercitationem sequi tenetur enim similique facere unde eligendi quod inventore in? Vero repellat possimus quasi
                    excepturi est!
                </div>
            </div>
            <div class="column is-one-third">
                <div class="notification is-primary">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, eveniet, ipsum modi doloribus
                    exercitationem sequi tenetur enim similique facere unde eligendi quod inventore in? Vero repellat possimus quasi
                    excepturi est!
                </div>
            </div>
        </div>
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="../static/images/blue_helper.jpg">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
                        vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                    </p>
                </div>
            </div>
        </article>
        <span class="icon has-text-info">
            <i class="fas fa-info-circle"></i>
        </span>
        <span class="icon has-text-success">
            <i class="fas fa-check-square"></i>
        </span>
        <span class="icon has-text-warning">
            <i class="fas fa-exclamation-triangle"></i>
        </span>
        <span class="icon has-text-danger">
            <i class="fas fa-ban"></i>
        </span>
    </div>
</section>

<div class="block">
    poop
</div>

{% endblock %}