{% extends "index.html" %}
{% block content %}

<section class="hero is-primary is-large hero-image-background">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                The Compositions and Life of Franz Litzs
            </h1>
            <h2 class="subtitle">
                Find out more information in this website
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns is-4 is-multiline is-centered">
        <div class="column is-6">
            <h1 class="title">Hello World 1</h1>
            <p class="content is-large">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, possimus? Vero perspiciatis, veniam praesentium illum ea sunt earum nobis, voluptatem expedita laudantium in reprehenderit quisquam, iste amet molestias architecto dolorum! </p>
        </div>
        <div class="column is-6">
            <h1 class="title">Hello World 2</h1>
            <p class="content is-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, possimus? Vero perspiciatis, veniam praesentium illum
                ea sunt earum nobis, voluptatem expedita laudantium in reprehenderit quisquam, iste amet molestias architecto
                dolorum! </p>
        </div>
        <div class="column is-6">
            <h1 class="title">Hello World 3</h1>
            <p class="content is-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, possimus? Vero perspiciatis, veniam praesentium illum
                ea sunt earum nobis, voluptatem expedita laudantium in reprehenderit quisquam, iste amet molestias architecto
                dolorum! </p>
        </div>
    </div>
</section>

{% endblock %}