
{% extends "index.html" %}
{% block content %}

<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <h1 class="title">
                        Volunteer Matching
                    </h1>
                    <h2 class="subtitle">
                        Come to Volunteer Matching to find different volunteering
                        opportunity around your area. Explore new places, meet new friends,
                        and help the community.
                    </h2>
                </div>
                <div class="column is-6">
                    <img class="home-hero-image" src="static/images/blue_helper.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section home-section">
    <div class="container">
        <div class="columns is-centered is-variable is-8">
            <div class="column is-5">
                <figure class="image">
                    <img class="is-rounded" src="static/images/volunteer.jpg">
                </figure>
            </div>
            <div class="column is-6">
                <div>
                    <h1 class="title has-text-weight-light is-size-1">
                        Transform your Explore Volunteering Experience
                    </h1>
                    <h3 class="has-text-weight-light">
                        Find countless of events and organizations hosting activities. We guarantee that you will be able to find
                        the experience of a lifetime. Without thousands of students and parents on the website, and hundreds
                        of different Non-profits, you will be able to connect with anyone you'll like. Browse through
                        the listings below.
                    </h3>
                </div>
                <div style="text-align: center">
                    <a href='/post' class="button is-large browse-btn">
                        Browse Opporunities
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<nav class="level home-bar-list home-section">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Opporunities</p>
            <p class="title">3,456</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Organizations</p>
            <p class="title">123</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Volunteers</p>
            <p class="title">456K</p>
        </div>
    </div>
</nav>

<section class="section home-section">
    <div class="container">
        <div class="columns is-centered is-variable is-8">
            <div class="column is-6">
                <h1 class="title has-text-weight-light is-size-1">
                    Meet Amazing People on Volunteer Matching!
                </h1>
                <h3 class="has-text-weight-light">
                    Find all different types of people from all different backgrounds. Every
                    volunteer experience you particpate will allow you to meet all kinds of
                    people while learning various cool new skills or helping the environment out.
                </h3>
            </div>
            <div class="column is-5">
                <figure class="image">
                    <img class="is-rounded" src="static/images/paper.jpg">
                </figure>
            </div>
        </div>
    </div>
</section>
{% endblock %}