<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Flask App</title>
        {% endif %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <!-- Nav Bar -->
        {% include "navbar.html" %}

        {% block content %}
        {% endblock %}

        <!-- Footer -->
        {% include "footer.html" %}
    </body>
</html>