<nav class="navbar">
    <div class="navbar-brand">
        <a href='/' class="navbar-item">
            <img src="static/images/heart.png">
            <h1 class="brand-title">Volunteer Matching</h1>
        </a>
    </div>

    <div class="navbar-start">
        <a class="nav-btn navbar-item has-text-weight-light" href='/post'>
            Browse Opporunities
        </a>
        <a class="nav-btn navbar-item has-text-weight-light" href='/'>
            Recruit Volunteers
        </a>
    </div>
    <div class="navbar-end">
        <div class="field is-grouped">
            <p class="control">
                <a id="showLoginModal" class="login-btn button is-primary is-outlined">
                    <span> Login </span>
                </a>
            </p>
        </div>
    </div>
</nav>